body {
  font-family: "Roboto";
  margin: 0px;
}
.navigation-container {
  display: flex;
  color: white;
  background-color: #275492;
  align-items: center;
  padding: 10px;
  padding-left: 150px;
  padding-right: 150px;
}

.logo {
  flex: 1;
  font-size: 24px;
  font-weight: 500;
}

.link1,
.link2,
.link3 {
  margin: 10px;
}

.hero-container {
  display: flex;
  align-items: center;
  color: white;
  background-color: #1f2937;
  padding: 10px;
  padding-left: 150px;
  padding-right: 150px;
}

.firstbox {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 20px;
}

.herotext {
  font-size: 48px;
  font-weight: 800;
  width: auto;
}

.herosubtext {
  width: auto;
}
.button1 {
  color: white;
  background-color: #3882f6;
  border: #3882f6;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  width: 100px;
}

.secondbox {
  background-color: grey;
  padding: 100px;
  width: auto;
}

.information-container {
  background-color: white;
}
.information-header {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 24px;
  font-weight: 700;
}

.information-subcontainer {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.information1,
.information2,
.information3,
.information4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.info-image1,
.info-image2,
.info-image3,
.info-image4 {
  border: 3px solid rgb(0, 102, 255);
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.info-subtext1,
.info-subtext2,
.info-subtext3,
.info-subtext4 {
  display: flex;
  text-align: center;
  width: 110px;
  padding: 5px;
  font-size: 12px;
}
.quote-container {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.quote-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-text {
  font-style: italic;
}
.quote-quoter {
  align-self: flex-end;
  font-weight: bold;
}

.action-container {
  padding: 100px;
}

.action-subcontainer {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  background-color: #3882f6;
  border-radius: 10px;
}

.action-text {
  color: white;
}
.action-subtext {
  font-size: x-small;
  font-weight: 100;
}

.action-button1 {
  background: #3882f6;
  color: white;
  border: solid white;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border-width: 2px;
}

.footer-container {
  display: flex;
  background-color: #1f2937;
  padding: 20px;
  justify-content: center;
}

.footer-text {
  color: white;
  font-weight: 100;
  font-size: small;
}
